<%- include("include/header", { titulo: 'Health Road - Registro Hospital' }) %>

<body class="clinic_version">

   <div id="preloader">
      <img class="preloader" src="images/loaders/heart-loading2.gif" alt="">
   </div>
   <header>

   </header>
   <div id="getintouch" class="section wb wow fadeIn" style="padding-bottom:0;">
      <div class="container">
         <div class="heading">
            <span class="icon-logo"><img src="images/icon-logo.png" alt="#"></span>
            <h2>Registro Hospital</h2>
         </div>
      </div>
      <div class="container forms">
         <div class="contact-section">
            <div class="form-contant">
               <form id="ajax-contact" action="" method="post">
                  <div class="row" id="first-div" >
                     <div class="col-md-12">
                        <div class="form-group in_name">
                           <label> <i class="fas fa-hospital-symbol"></i> Nombre</label>
                           <input type="text" class="form-control" placeholder="Nombre" required="required">
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="form-group in_email">
                           <label> <i class="fas fa-envelope-open-text"></i> Email</label>
                           <input type="email" class="form-control" placeholder="Email" required="required">
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="form-group in_message">
                           <label> <i class="fal fa-comment-medical"></i> Descripcion </label>
                           <textarea class="form-control" id="message" rows="5" placeholder="Descripcion"
                              required="required"></textarea>
                        </div>
                        <div class="actions">
                           <button type="button"  class="btn small submitButton" onclick="secondDiv()"><i
                                 class="far fa-arrow-circle-right"  ></i> Siguiente</button>
                        </div>
                     </div>
                  </div>
                  <div class="row" id="second-div" hidden>
                     <div class="col-md-12">
                        <div class="form-group in_email">
                           <label> <i class="far fa-image"></i> Foto de Perfil</label>
                        </div>
                        <div class="avatar-upload">
                           <div class="avatar-edit" style="left: 200px;">
                              <input type='file' id="imageUpload-profile"
                                 accept=".png, .jpg, .jpeg ,.jfif" />
                              <label for="imageUpload-profile"><i style="margin: 8px;"
                                    class="fas fa-camera"></i></label>
                              <textarea type="text" name="path" id="path" hidden></textarea>
                           </div>
                           <div class="avatar-preview">
                              <div id="previsualizacion-profile"
                                 style="background-image: url(images/logo-hospital.png);">

                              </div>
                           </div>

                        </div>
                     </div>
                     
                        <div class="actions">
                           <button type="button" class="btn small submitButton" onclick="firstDiv()"><i class="far fa-arrow-circle-left"></i>
                              Atras</button>
                              <button type="button" class="btn small submitButton" onclick="thirdDiv()"><i class="far fa-arrow-circle-right"></i>
                                 Siguiente</button>
                        </div>
                     </div>
                     <div class="row" id="third-div" hidden>
                        <div class="col-md-12">
                           <div class="form-group in_email">
                              <label> <i class="far fa-map-marker-alt"></i> Ubicacion</label>
                           </div>
                           <div id='map' style='width: 600px; height: 450px;'></div>
                           <pre id="coordinates" class="coordinates"></pre>
                        </div>
                        <div class="col-md-12">
                           <div class="actions">
                              <button type="button" class="btn small submitButton" onclick="secondDiv()"><i class="far fa-arrow-circle-left"></i>
                                 Atras</button>
                              <button  class="btn small submitButton"><i class="far fa-save"></i> Guardar</button>
                           </div>
                        </div>
                     </div>
                  </div>
                 
               </form>
            </div>
         </div>
      </div>
   </div>

   <script>
     

      function firstDiv(){
         document.getElementById('first-div').hidden = false;
         document.getElementById('second-div').hidden = true;
      }
     
      function secondDiv(){
         document.getElementById('first-div').hidden = true;
         document.getElementById('second-div').hidden = false;
         document.getElementById('third-div').hidden = true;
      }

      function thirdDiv(){
         document.getElementById('third-div').hidden = false;
         document.getElementById('second-div').hidden = true;
      }

   </script>
   <%- include("include/scripts") %>


</body>

</html>