<footer id="footer" class="footer-area wow fadeIn">
    <div class="container">
       <div class="row">
          <div class="col-md-4">
             <div class="logo2 padding">
                <a>Health<img src="images/icon-logo.png" alt="image">Road</a>

             </div>

          </div>
          <div class="col-md-4">
             <div class="footer-info padding">
                <h3>CONTACTANOS</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Quetzaltenango, Guatemala</p>
                <p><i class="fa fa-paper-plane" aria-hidden="true"></i> HealthRoad@healtroad.org</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> (+502) 11111111</p>
             </div>
          </div>
          <div class="col-md-4">
             <div class="subcriber-info">
                <h3>SUSCRIBETE</h3>
                <p>Informate de los descuentos y promociones que ofrecen los hospitales</p>
                <div class="subcriber-box">
                   <form id="mc-form" class="mc-form">
                      <div class="newsletter-form">
                         <input type="email" autocomplete="off" id="mc-email" placeholder="Correo Electronico"
                            class="form-control" name="EMAIL">
                         <button class="mc-submit" type="submit"><i class="fa fa-paper-plane"></i></button>
                         <div class="clearfix"></div>
                         <!-- mailchimp-alerts Start -->
                         <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div>
                            <!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div>
                            <!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div>
                            <!-- mailchimp-error end -->
                         </div>
                         <!-- mailchimp-alerts end -->
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
