<div class="modal fade" id="<%- id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Confirmacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert">
                    <%- message %> 
                </div>

                <label> <i class="far fa-check-circle"></i> Ingrese el nombre del  <%- type %> para confirmacion </label>

                <input type="text" class="form-control" placeholder="Nombre" name="confirmation" required="required">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" <% if(locals.funtion){%> onclick='<%- funtion %>' <% } %>   data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Si</button>
            </div>
        </div>
    </div>
</div>