<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<title>Registro Usuario</title>
<link rel="shortcut icon" href="images/fevicon.ico.png" type="image/x-icon" />
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="css/colors.css">
<link rel="stylesheet" href="css/versions.css">
<link rel="stylesheet" href="css/responsive.css">

<link rel="stylesheet" href="css/custom.css">
<link rel="stylesheet" href="css/customForms.css">
<link href="lib/fontawesome/css/all.css" rel="stylesheet">
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>


<script src="js/modernizer.js"></script>
</head>

<body class="clinic_version">
   <div id="preloader">
      <img class="preloader" src="images/loaders/heart-loading2.gif" alt="">
   </div>
   <header>

   </header>
   <div id="getintouch" class="section wb wow fadeIn" style="padding-bottom:0;">
      <div class="container">
         <div class="heading">
            <span class="icon-logo"><img src="images/icon-logo.png" alt="#"></span>
            <h2>Registrar Usuario</h2>
         </div>
      </div>
      <div class="container forms">
         <div class="contact-section">
            <div class="form-contant">
               <form id="ajax-contact" action="assets/mailer.php" method="post">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group in_name">
                           <label> <i class="far fa-user"></i> Nombre </label>
                           <input type="text" class="form-control" placeholder="Nombre" required="required">
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group in_email">
                           <label> Apellido</label>
                           <input type="text" class="form-control" placeholder="Apellido" required="required">
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="form-group in_email">
                           <label> <i class="fas fa-envelope-open-text"></i> Email</label>
                           <input type="email" class="form-control" placeholder="Email" required="required">
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="form-group in_email">
                           <label> <i class="far fa-phone-rotary"></i> Telefono</label>
                           <input type="text" class="form-control" placeholder="Telefono" required="required">
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="form-group in_email">
                           <label> <i class="far fa-user-tag"></i> Rol</label>
                           <select name="Rol">
                              
                           </select>
                        </div>

                     </div>
                  </div>

               </form>
            </div>

         </div>

      </div>

   </div>

   <script src="js/all.js"></script>
   <script src="js/custom.js"></script>


</body>

</html>